/*Body*/
body{
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0; 
    color: white;
}
/*Header*/
#header{
    background-color: black;
    width: 1260px;
    height: 100px;
}
#iconos2{
    width: 110px;
    top:0;
    float: left;
    margin-left: 100px;
}
#list2 li{
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    float: left;
    margin-left: 600px;
    margin-top: 35px;
}
#list2 li a{
    text-decoration: none;
    color:aliceblue;
}
#list2 li + li{
     margin-left: 40px;
}
#list2 ul{
    margin: 0;
    padding: 0;
}
#facebook1 img{
    margin-left: 50px;
    margin-top: 30px;
}
/*Img-Principal*/
#img-principal img{
    width: 100%;
    height: 100%;
    margin: 0;
}
/*Img Paquetes*/
h2{
    text-align: center;
    color: black;
    margin: 50px;
}
#img-paquetes{
    width: 1261px;
    height: 700px;
}
#barco1{
    width: 28%;
    height: 38%;
    position: absolute;
    margin-left: 70px;
    top: 700px;
}
#barco2{
    width: 28%;
    height: 38%;
    position: absolute;
    margin-left: 70px;
    top:990px
}
#sele1{
    width: 28%;
    height: 38%;
    position: absolute;
    margin-left:466px;
    top: 700px;
}
#sele2{
    width: 28%;
    height: 38%;
    position: absolute;
    margin-left:466px;
    top: 990px;
}
#hotel1{
    width: 28%;
    height: 38%;
    position: absolute;
    margin-left: 860px;
    top: 700px;
}
#hotel2{
    width: 28%;
    height: 38%;
    position: absolute;
    margin-left: 860px;
    top: 990px;
}
/*Info*/
#palmeras img{
    width: 100%;
    height: 100%;
}
#info{
    margin: 0;
    padding: 0;
    background-color: #171717;
}
#iconos{
    width: 230px;
}
#iconos img{
    width: 210px;
    height: 70px;
    float: left;
    z-index: 1;
    position: absolute;
    top: 1550px;
    margin-left: 250px;
}
#nav{
    text-transform: uppercase;
    margin-left: 650px;
    float: right;
    position: absolute;
    top: 1440px;
}
#nav-info{
    text-align: left;
    width: 550px;
    position: absolute;
    float: right;
    margin-left: 650px;
    top: 1500px;
}
#textos p{
    font-size: 20px;
    color:white;
    text-align: center;
}
#textos #caribe{
    position: absolute;
    top:820px;
    margin-left: 71px;
    background-color: rgb(0, 0, 0);
    opacity: .8;
    width: 350px;
    height: 70px;
}
#textos #mexico{
    position: absolute;
    background-color: rgb(0, 0, 0);
    opacity: .8;
    width: 350px;
    height: 70px;
    top: 830px;
    margin-left: 467px;
}
#textos #viaje{
    position: absolute;
    background-color: rgb(0, 0, 0);
    opacity: .8;
    width: 350px;
    height: 70px;
    top: 830px;
    margin-left: 860px;
}
#textos #caribe2{
    position: absolute;
    top:1120px;
    margin-left: 71px;
    background-color: rgb(0, 0, 0);
    opacity: .8;
    width: 350px;
    height: 70px;
}
#textos #mexico2{
    position: absolute;
    background-color: rgb(0, 0, 0);
    opacity: .8;
    width: 350px;
    height: 70px;
    top: 1120px;
    margin-left: 467px;
}
#textos #viaje2{
    position: absolute;
    background-color: rgb(0, 0, 0);
    opacity: .8;
    width: 350px;
    height: 70px;
    top: 1120px;
    margin-left: 862px;
}
/*Footer*/
#footer{
    background-color: #171717;
    height: 227px;
    width: 1261px;
}
#list li{
    text-transform: uppercase;
    list-style: none;
    float: left;
}
#list li a{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    width: 50px;
}
#list li + li{
    margin-left: 0px;
}
#list ul{
    margin: 0;
    padding: 0;
    margin-left: 300px;
    padding-top: 35px;
}
#facebook img{
    margin-left: 600px;
}
#copyright{
    margin-left: 390px;
}
  